core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
__pycache__/
*.pyc
instance/
.env
*.env
.env.*
venv/
.venv/
.env
*.sqlite3
*.log
*.pot

