blinker==1.8.2
Bootstrap-Flask==1.6.0
click==8.1.7
email_validator
Flask==2.2.5
Flask-SQLAlchemy==2.5.1
Flask-Login==0.6.2
greenlet==3.0.3
itsdangerous==2.2.0
psycopg2==2.9.9
python-dotenv
SQLAlchemy==1.4.46
Werkzeug==2.3.7
Flask-Bcrypt
Flask-WTF


#Flask==2.2.2

#Flask-SQLAlchemy==3.0.4
#psycopg2-binary==2.9.6
#wtforms.validators