body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bce4ecd5;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #4CAF50;
    color: white;
}

.alert-danger {
    background-color: #f44336;
    color: white;
}

h1, h2 {
    color: #333;
}
