{% extends "layout.html" %}
{% block content %}
    <section>
        <h2>Edit Your Review</h2>
        <form action="{{ url_for('main.edit_review') }}" method="POST">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
            <label for="content">Content</label>
            <textarea id="content" name="content" required></textarea>
            <button class="btn btn-icon"><i class="fas fa-save"></i> Save Changes</button>
        </form>
    </section>
{% endblock %}
