{% extends "layout.html" %}

{% block title %}Edit Review{% endblock %}

{% block content %}
    <h1>Edit Your Review</h1>
    <section>
        <form action="{{ url_for('main.edit_review', review_id=review.id) }}" method="POST">
            <!-- Flask-WTF Hidden Tag for CSRF Protection -->
            {{ form.hidden_tag() }}
            
            <!-- Title Field -->
            <p>
                <label for="title">{{ form.title.label }}</label><br>
                {{ form.title(size=64, value=review.title) }}
            </p>
            
            <!-- Review Content Field -->
            <p>
                <label for="content">{{ form.content.label }}</label><br>
                {{ form.content(cols=40, rows=5, value=review.content) }}
            </p>
            
            <!-- Submit Button -->
            <p>
                <button class="btn btn-icon"><i class="fas fa-save"></i> Save Changes</button>
            </p>
        </form>
    </section>
{% endblock %}
