{% extends "layout.html" %}

{% block title %}Edit Review{% endblock %}

{% block content %}
    <h1>Edit Your Review</h1>
    <section>
        <form action="{{ url_for('main.edit_review', review_id=review.id) }}" method="POST">
            <!-- Flask-WTF Hidden Tag for CSRF Protection -->
            {{ form.hidden_tag() }}
            
            <!-- Product Name Field -->
            <p>
                <label for="product_name">{{ form.product_name.label }}</label><br>
                {{ form.product_name(size=64, value=review.product_name) }}
            </p>

            <!-- Description Field -->
            <p>
                <label for="description">{{ form.description.label }}</label><br>
                {{ form.description(cols=40, rows=5, value=review.description) }}
            </p>

            <!-- ML Field -->
            <p>
                <label for="ml">{{ form.ml.label }}</label><br>
                {{ form.ml(size=64, value=review.ml) }}
            </p>

            <!-- Review Content Field -->
            <p>
                <label for="review">{{ form.review.label }}</label><br>
                {{ form.review(cols=40, rows=5, value=review.review) }}
            </p>
            
            <!-- Submit Button -->
            <p>
                <button class="btn btn-icon"><i class="fas fa-save"></i> Save Changes</button>
            </p>
        </form>
    </section>
{% endblock %}
