{% extends "layout.html" %}
{% block content %}
    <section>
        <h2>Create an Account</h2>
        <form action="{{ url_for('register') }}" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button class="btn btn-icon"><i class="fas fa-user-plus"></i> Register</button>
        </form>
    </section>
{% endblock %}
