{% extends "layout.html" %}

{% block title %}Your Reviews{% endblock %}

{% block content %}
    <h1>Your Reviews</h1>
    <ul>
        {% for review in reviews %}
        <li>
            <h2>{{ review.product_name }}</h2>
            <p>{{ review.description }}</p>
            <p>{{ review.ml }} ml</p>
            <p>{{ review.review }}</p>
            <form action="{{ url_for('main.delete_review', review_id=review.id) }}" method="POST">
                {{ csrf_token() }} <!-- Add this if using Flask-WTF for CSRF protection -->
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <section>
        <h2>Manage Your Reviews</h2>
        {% for review in reviews %}
        <div class="review">
            <h3>{{ review.product_name }}</h3>
            <p class="secondary-text">{{ review.review }}</p>
            <a href="{{ url_for('main.edit_review', review_id=review.id) }}" class="btn btn-icon"><i class="fas fa-edit"></i> Edit Review</a>
            <a href="{{ url_for('main.delete_review', review_id=review.id) }}" class="btn btn-icon"><i class="fas fa-trash-alt"></i> Delete Review</a>
        </div>
        {% endfor %}
    </section>
{% endblock %}
