{% extends "layout.html" %}
{% block content %}
    <section>
        <h2>Submit a Review</h2>
        <form action="{{ url_for('submit_review') }}" method="POST">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
            <label for="content">Content</label>
            <textarea id="content" name="content" required></textarea>
            <button class="btn btn-icon"><i class="fas fa-paper-plane"></i> Submit Review</button>
        </form>
    </section>
{% endblock %}
